# Data
data/
*.csv

# Secrets
.env
keys/
/tmp/

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/

# Go
tmp/
*.exe
*.out
kr-metro-api

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# SQL
sql/

run.sh